.photo-container {
    display: flex;

    .photo {
        width: 30%;
        align-self: flex-start;

        @include media-tablet {
            width: 40%;
        }
    }

    .name {
        font-size: 3rem;

        @include media-tablet {
            font-size: 2.5rem;
        }

        @include media-big-mobile {
            font-size: 1.8rem;
        }

        @include media-mobile {
            font-size: 1.6rem;
        }

        @include media-small-mobile {
            font-size: 1.3rem;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;


    .about-description {
        font-size: 2rem;
        margin: 10px 0;

        @include media-tablet {
            font-size: 1.7rem;
        }

        @include media-big-mobile {
            font-size: 1.3rem;
        }

        @include media-mobile {
            font-size: 1.1rem;
        }

        @include media-small-mobile {
            font-size: 0.8rem;
        }
    }
}