$white:  #fff;
$mostly-desaturated-dark-red:  rgba(146,96,91,0.6);
$black: #000;
$very-light-gray: #e6e6e6;
$light-grayish-red: #e1d2ce;
$grayish-red: #cbb0aa;
$desaturated-dark-red:#91655a;

$desktop-width: 1024px;
$tablet-width: 768px;
$big-mobile-width: 414px;
$mobile-width: 375px;
$small-mobile-width: 320px;